<h1>Nom Nom Nom</h1>

<h2>Burgers Ready to Devour!</h2>
<ul>
    {{#each burgers}}
    {{#unless this.devoured}}
    <li> {{this.burger_name}}
        <button id="change-devoured" data-id="{{this.id}}" data-newdevour="{{this.devour}}">
            Devour!
        </button>
    </li>
    {{/unless}}
    {{/each}}
</ul>



<h2>Burgers Devoured!</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li> {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>